.App-header {
    background-color: #046CFF;
    color: white;
    vertical-align: middle;
    height: 125px;
  }

.App-banner{
    background-color: #414141;
    color: white;
    vertical-align: middle;
    height: 50px;
    font-size: 25px;
}

.Table-header{
  width: 100%;
  border-collapse: collapse;
  background-color: #414141;
}



.td1{
  font-size: 35px;
  width: 60%;
}

.td2{
  vertical-align: middle;
  padding-left: 200px;
  font-size: 20px;
}

.Button-start{
  background-color: #414141;
  color : white;
  font-size: 20px;
}
